form{
    .form-required {
        color: @color-main;
    }
    
    input, textarea, select{  
        color:@color-main;
    }
    .error{
        border: 1px solid @color-error !important;
    }
    button, input, select, textarea {
        padding-left:5px !important;
    }
    .form-item{
        .description {
            font-size: 11px;
        }  
    }
    input[type=text], textarea, input[type=password], select{
        border-color: #dbdbdb;
        border-style: solid; 
        border-width: 1px;
    }
    textarea {
        resize: none;
    }

    label{
        height:15px; 
        line-height: 18px;
    }
} 