#selected_location_info{
    background-color: white;
    width: @block-width-md;
    overflow:hidden;
    margin-top:10px;

    @media (max-width: @screen-md-max) {
        width: @block-width-sm;
    }

    a#mailto{
        text-decoration: underline;
        cursor: pointer;
        padding-top: 5px;
        display:block;
    }

    div.grouped{
        width:100%;
        margin:0;
        padding:0 5% 0 0;
        float:left;
        div{
            margin:0 0 5px 0;
        }

    }

    > div{
        @media (max-width: @screen-xs-max) {
            /*margin:15px;*/
        }
    }
    @media (max-width: @screen-xs-max) {
        margin-top: 0;
    }

    .search_result_wrapper{

        @media (min-width: @screen-xs-max) {
            width:@block-width-md;
        }


        br{
            clear:both;
        }

        > div {
            margin-left:15px;
            margin-bottom: 10px;
            > div.title{
                margin-top: 10px;
            }
            &.adres{
                width:45%;
                float:left;
                font-weight: normal;
                @media (max-width: @screen-xs-max) {
                    margin-bottom: 0;
                }
            }
        }
        div.gbutton_wrapper{
            clear:both;
        }

        p{
            margin:0;
        }

        div.inform{
            padding-top:5px;
            font-size:10px;
        }
        .favorites_switch{
            cursor: pointer;
            width: 100px;
            .in_favorites{
                display:block;
                &:before{
                    color:@color-main;
                    font: normal normal normal 14px/1 FontAwesome;
                    display:inline-block;
                    width:15px;
                }
                &.true:before{
                    content: "\f046";
                }
                &.false:before{
                    content: "\f096";
                }
            }
        }
        span.fav_row {
            button {
                border:none;
                display:inline;
                color:@color-white;
                background-color: @color-light; 
            }
            button.fav_yes { 
                font-weight: bold; 
                background-color: @color-main;
            }
            button.fav_no { 
                font-weight: normal; 
            }
            button.fav_no:hover { 
                background-color: @color-light; 
            }
            button.fav_yes {
                font-weight: normal;
            }
            button.fav_yes:hover { 
                background-color: @color-light;
            }
            button.fav_no { 
                font-weight: bold; background-color: @color-main; 
            }
        }
        div.results_paging p.searchresult_note_max{
            font-weight: normal;
        }
        .new_label {
            padding-left: 5px;
        }

        div.add_label{
            height:22px;
            line-height:22px;
            label{
                line-height:22px;
                float:left !important;
                margin-right:3px;
            }
            form{
                .new_label_wrapper{
                    display:block;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius:  3px;
                    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
                    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
                    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
                    overflow:hidden;
                    border-color:#4d4d4d;
                    border-style: solid;
                    border-width: 1px;
                    height:20px;
                    width:176px;
                    float:left;

                    input.new_label{
                        border:none;
                        line-height: 18px;
                        color: #dbdbdb;
                    }
                    button.add_new_label{
                        background:none;
                        border:none;
                        padding: 0 !important;
                        height:20px;
                        width:25px;
                        background-color:#b7072a;
                        float:right;
                        span{
                            font-weight: bold;
                            text-align: center;
                            line-height: 18px;
                            cursor: pointer;
                            color: white;
                        }
                        span:hover{
                            color: white;
                        }
                    }
                }
            }

            @media (max-width: @screen-xs-max) {
                display:none;
            }
        }

        div.labels{
            overflow:hidden;

            p {
                color: @color-light;
                font-style: italic;
            }
            div.label_wrapper{
                margin-bottom:3px;
            }
            div.label{
                background-color:@color-dark;
                color:@color-dark;
                height:25px;
                display: table-cell;

                div.labelnumber{
                    color:white;
                    height:25px;
                    width:28px;
                    text-align: center;
                    float:left;
                    line-height: 25px;
                    background-color:@color-main;
                }
                .labeltxt{
                    height:25px;
                    float:left;
                    text-align: center;
                    line-height: 25px;
                    padding: 0 10px 0 10px;
                }
                .labelbutton{
                    height:25px;
                    border:0;  
                    float:left;
                    padding: 0 5px 0 5px;
                    text-align: center;
                    line-height: 25px;
                    cursor:pointer;
                    span{
                        background-image:none !important;
                    }
                }
                .labelbutton:focus {
                    outline:0;
                }
                .labelbutton:hover{
                    color:@color-main;
                }
                .labelremovebutton{
                    height:25px;
                    border:0;  
                    float:left;
                    padding: 0 5px 0 5px;
                    text-align: center;
                    line-height: 25px;
                    cursor:pointer;
                    color: @color-white;
                    background-color: @color-main !important;
                    span{
                        background-image:none !important;
                    }
                }
                button.labelremovebutton:focus {
                    outline:0;
                }
            }

            div.minus,
            div.minus button,
            div.plus,
            div.plus button{
                background-color: @color-light;
            }
            @media (max-width: @screen-xs-max) {
                display:none;
            }
        }
        .mobile_labels{
            @media (min-width: @screen-xs-max) {
                display:none;
            }
            > div {
                .rounded;
                .noshadow;
                display: inline-block;
                margin-right: 5px;
                overflow: hidden;
                height: 20px;
                padding: 5px 5px 0 5px;
                color: @color-white;
                &.score_0{background-color: @color-score-low;}
                &.score_1{background-color: @color-score-low;}
                &.score_3{background-color: @color-score-low;}
                &.score_4{background-color: @color-score-low;}
                &.score_5{background-color: @color-score-low;}
                &.score_6{background-color: @color-score-some;}
                &.score_7{background-color: @color-score-some;}
                &.score_8{background-color: @color-score-some;}
                &.score_9{background-color: @color-score-some;}
                &.score_10{background-color: @color-score-some;}
                &.score_11{background-color: @color-score-more;}
                &.score_12{background-color: @color-score-more;}
                &.score_13{background-color: @color-score-more;}
                &.score_14{background-color: @color-score-more;}
                &.score_15{background-color: @color-score-more;}
                &.score_16{background-color: @color-score-a-lot;}
                &.score_17{background-color: @color-score-a-lot;}
                &.score_18{background-color: @color-score-a-lot;}
                &.score_19{background-color: @color-score-a-lot;}
                &.score_20{background-color: @color-score-a-lot;}
            }
        }
        a.close_button{
            position:absolute;
            right:20px;
            top:10px;
            font-size:18px;
            cursor:pointer;
        }
        @media (max-width: @screen-xs-max) {
            .rounded;
            .unshadow;
            background-color: @color-lightest-grey;
            margin: 0 5px 5px 5px;
            padding: 0;
            display:block;
            overflow:hidden;
        }
    }
    @media (max-width: @screen-xs-max) {
        .unround;
        .unshadow;
        width: 100%;
        margin:0;
        padding:0;
        overflow:hidden;
        position:fixed;
        top:38px;
    }
}



