#selected_location_info{
    #fav_switch_label{
        color: #dbdbdb;
        font-style: italic;
    }
    div.results_paging p.searchresult_note_max{
        font-weight: normal;
    }
    .new_label {
        padding-left: 5px;
    }

    div.add_label{
        height:22px;
        line-height:22px;
    }
    div.add_label label{
        line-height:22px;
        float:left !important;
        margin-right:3px;
    }

    div.add_label span.tooltip{
        margin-top:4px;
    }
}