#mobileheader {

    overflow: hidden;
    color: @color-white !important;
    position: fixed;
    width: 100%;
    top:0px;
    display: block;
    z-index: 100;
    background-color: @color-white;

    @media (min-width: @screen-xs-max) {
        display:none;
    }
    
    > div{
        margin:5px;
        height:40px;
        background-color:@color-lightest-grey;
        .rounded;
        .noshadow;
        
        button{
            position: absolute;
            right: 10px;
            top:12px;
            color:@color-main;
            font-size: 24px;
            background-color: @color-lightest-grey;
            border: none;
        }
    }
}
#mobilemenu {
    position: absolute;
    width: 100%;
    top:50px;
    z-index:300;
    background-color: @color-white;
    right:100%;
   
    > div {
        margin:7px;
        background-color: @color-lightest-grey;
        .rounded;
        .noshadow;
    }
    
    @media (min-width: @screen-xs-max) {
        display:none;
    }
}