#mobilemenu {

    overflow: hidden;
    color: @color-white !important;
    position: fixed;
    width: 100%;
    top:0px;
    display: block;
    z-index: 100;
    background-color: @color-white;

    @media (min-width: @screen-xs-max) {
        display:none;

    }
    
    > div{
        margin:5px;
        height:40px;
        background-color:@color-lightest-grey;
        .rounded;
        .noshadow;
    }
}