#search_result_info{
    #search_results{
        p.info_text{
            font-size: 11px;
        }
        ul{
            li.active{
                a{
                    color: @color-main; 
                }
            }
        }
        >p{
            div.results_paging{
                font-weight: normal;
            }
        }
    }
}