/* handle 3 stages, xs/md/lg */
.rounded_border {
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
body.front {
  font-weight: normal;
  height: auto;
  font-size: 16px;
}
body.front #frontpage_footer {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: right;
  font-size: 12px;
}
body.front .frontpage_block > div {
  padding: 30px;
  overflow: hidden;
  background-color: #f8f8f8;
}
@media (max-width: 710px) {
  body.front .frontpage_block > div {
    padding-top: 30px;
  }
}
@media (max-width: 710px) {
  body.front .frontpage_block.login > div {
    padding-top: 0px;
  }
}
body.front .frontpage_block p {
  padding: 0;
}
body.front .frontpage_block h1 {
  padding: 0;
  font-size: 20px;
}
body.front .frontpage_block h2 {
  padding: 0;
  font-size: 16px;
}
body.front .frontpage_block a.register {
  width: 250px;
}
body.front .form-block h1 {
  padding: 0 0 0 0;
}
body.front .form-block p {
  padding: 0;
}
body.front .form-block form {
  overflow: hidden;
  margin-bottom: 5px;
  border-width: 0px;
}
body.front .form-block form div.form-item label {
  margin-bottom: 0;
  font-size: 12px;
}
body.front .form-block form div.form-item div.description {
  margin-left: 0;
  margin-top: 5px;
}
body.front .form-block form input {
  width: 90%;
}
body.front .form-block form input[type=checkbox] {
  width: auto;
}
body.front .form-block form input[type=submit] {
  font-size: 12px;
}
body.front .form-block form div.form-type-checkbox {
  overflow: hidden;
  width: 100%;
}
body.front .form-block form div.form-type-checkbox input {
  float: left;
  width: 10%;
  margin-top: 2px;
}
body.front .form-block form div.form-type-checkbox label {
  float: right;
  width: 90%;
}
body.front .col-sm-9.frontpage_block {
  padding-right: 10px;
}
body.front .col-sm-3.frontpage_block.hidden-xs {
  padding-left: 0px;
}
body.front .col-sm-3.frontpage_block.hidden-sm {
  padding-left: 15px;
  padding-right: 10px;
}
body.front div.errormessage {
  font-size: 12px;
  margin: 0 0 10px 10px;
}
body.front div.header {
  font-size: 12px;
  height: 80px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}
body.front div.header span.subtitle {
  position: absolute;
  bottom: 0;
  right: 15px;
  padding-bottom: 13px;
}
body.front div.header_small {
  height: 45px !important;
}
body.front a {
  text-decoration: underline;
}
body.front h1,
body.front h2 {
  font-weight: bold;
}
