#gojirasearch_search_term{
  line-height: 22px;
  vertical-align: bottom;
  color:red;
}
span.tooltip{
    background-image: url(../img/questionmark_small.png) !important;
}

#crud_holder form div.form-item div.description{
  margin-top:3px;
}

#crud_holder form div.form-type-textarea label{
    width:134px !important;
}