/* buttons */
.rounded{
    display:block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1.3);
    overflow:hidden;
}

.unround{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.unshadow{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.noshadow{
    display:block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    overflow:hidden;
}

/* bootstrap buttons */
.btn-danger{
    //@color-main
    background-image: -webkit-linear-gradient(top,@color-main 0,@color-main 100%);
    background-image: -o-linear-gradient(top,@color-main 0,@color-main 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(@color-main),to(@color-main));
    background-image: linear-gradient(to bottom,@color-main 0,@color-main 100%);
    background-position: 0px;
    &:hover, &:focus{
        background-position: 0px;
        color:@color-light;
    }
}
/* hide something */
.hidden{
    display:none;
}
