<h1>Extra mogelijkheden</h1>
<hr style="margin: 10px 0 10px 0;" />
<p>Tegen een kleine vergoeding kunt u bij SocialeKaart.care een abonnement afnemen. Als u dit doet beschikt u de volgende extra mogelijkheden:</p>
<section>
<h2>Uw eigen sociale kaart</h2>
<p>U kunt een sociale kaart voor uw eigen praktijk samenstellen. Deze kan worden afgebeeld en u heeft de mogelijkheid om te zoeken binnen deze kaart.</p>
</section>
<section>
<h2>Meerdere praktijken</h2>
<p>Werkt u voor meerdere praktijken of op verschillende locaties? Dan kunt u deze invoeren en afzonderlijk selecteren om te worden gebruikt als centraal punt voor uw zoekopdrachten.</p>
</section>
<section>
<p>Elke nieuw geregistreerde gebruiker mag deze extra functionaliteiten de eerste 3 maanden geheel gratis gebruiken. Het abonnement sluit u af door in het menu te kiezen voor abonneren.</p>
<p>We wensen u veel gebruiksgemak. Als u vragen of suggesties hebt horen we dit graag!</p>
</section>
<hr style="margin: 10px 0 10px 0;" />
