<h1>Welkom!</h1>
<p>
    SocialeKaart.care is een <b>unieke sociale kaart</b> voor de Nederlandse huisartsen!
</p>
<p>
In deze intuïtieve webapplicatie kunt u snel en in een geografische context de gegevens van alle zorgaanbieders in uw regio vinden en bookmarken. U kunt daarnaast op eenvoudige wijze specifieke kenmerken (bijv. specialismen/kwaliteiten) toevoegen aan een zorgverlener om het zoeken te versnellen.
</p>
<p>
Doordat deze gegevens met uw collega huisartsen (in de regio en heel Nederland) gedeeld worden krijgt u de beschikking over een <b>actueel en betrouwbaar instrument</b> om te <b>verwijzen</b>.
</p>
<p>
SocialeKaart.care is <b>veilig</b> en <b>online</b> beschikbaar voor elke huisarts vanaf elke werkplek met internetverbinding. Op dit moment kunnen meer dan 100.000 Nederlandse zorgverleners binnen enkele seconden effectief doorzocht worden.
</p>