<h1>Zoeken en labels</h1>
<hr style="margin: 10px 0 10px 0;" />
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="width:260px; float:left;">Zoeken naar een zorgverlener werkt via de zoekbalk links boven in het scherm. Hier kunt u één of meerdere termen invoeren om in de regio van uw praktijk te zoeken. Als u op meerdere termen wilt zoeken kunt u deze scheiden met een spatie.</div>
    <div style="float:right;"><img style="display:block;border:1px solid #dbdbdb;background-color:#fff;" alt="Zoekbalk" src="/sites/all/themes/gojiratheme/img/tutorial/search_bar_filled.png" /></div>
</div>
<hr style="margin: 10px 0 10px 0;" />
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="float:left;height:60px;"><img style="display:block;border:1px solid #dbdbdb;background-color:#fff;" alt="Zoekbalk met suggestie" src="/sites/all/themes/gojiratheme/img/tutorial/search_bar_suggestion.png" /></div>
    <div style="width:260px; float:right;">SocialeKaart.care geeft ook suggesties om op te zoeken wanneer u begint te typen. Hier kunt u op klikken, de term zal dan geplaatst worden in de zoekbalk.</div>
</div>
<hr style="margin: 10px 0 10px 0;" />
<div style="width:100%;overflow:hidden; padding:0px;">
    <div style="width:380px; height:140px; float:left;">
        Zorgverleners kunt u vanuit een zoekresultaat voorzien van specifieke kenmerken (labels) waarop ze gevonden kunnen worden. Een fysiotherapeut die bijvoorbeeld gespecialiseerd is in shockwave therapie kunt u voorzien van een label waardoor deze ook daarop gevonden kan worden.
        <br />
        <br />
        Ook kunt u kenmerken zwaarder laten wegen in de zoekfunctie. Dit doet u door er een extra punt aan toe te kennen via de plus knop.
    </div>
    <div style="float:right;"><img style="display:block;border:1px solid #dbdbdb;background-color:#fff;" alt="Labels" src="/sites/all/themes/gojiratheme/img/tutorial/labels_with_add_form.png"></div>
</div>
<hr style="margin: 10px 0 10px 0;" />
<div style="height:30px;width:100%;overflow:hidden; padding:0px;">
    <div style="float:left;"><img style="display:block;border:1px solid #dbdbdb;background-color:#fff;" alt="Landelijk zoeken" src="/sites/all/themes/gojiratheme/img/tutorial/search_country_wide_v2.png"></div>
    <div style="width:400px;float:right;">Als u een abonnement afneemt krijgt u via de menubalk de mogelijkheid om door het hele land te zoeken.</div>
</div>
<hr style="margin: 10px 0 10px 0;" />




