<h1>Praktijk</h1>
<hr style="margin: 10px 0 10px 0;" />
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="">
        Werkt u voor meerdere praktijken of op verschillende locaties? Of bent u waarnemer? Maak dan gebruik van de multi-praktijk functie. Door de divere praktijken op te voeren maakt u de verschillende locaties in het systeem bekend. Selecteer vervolgens  een praktijk in de menubalk zodat deze als centraal punt wordt gebruikt bij het zoeken.
    </div>
</div>
<div style="width:100%;overflow:hidden;padding:10px 0 10px 0;height:80px;">
    <div style=""><img style="display:block;padding:1px;border:1px solid #dbdbdb;background-color:#fff;" alt="Mijn kaart" src="/sites/all/themes/gojiratheme/img/tutorial/select_practice.png" /></div>
</div>
<div style="width:100%;overflow:hidden;padding:0 0 10px 0;">
    <div style="">Daarnaast kunt u per praktijk uw eigen sociale kaart beheren. Zorgaanbieders die u toevoegt aan uw sociale kaart worden dus opgeslagen en weergegeven per geselecteerde praktijk.</div>
</div>
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="">Praktijken zijn in te stellen op de instellingen pagina, deze vindt u in het menu. Om meerdere praktijken in te voeren dient u de optie Meerdere praktijken aan te vinken, wel heeft u hier een abonnement voor nodig.</div>
</div>
<hr style="margin: 10px 0 10px 0;" />