<h1>Extra mogelijkheden</h1>
<hr style="margin: 10px 0 10px 0;" />
<p>Tegen een kleine vergoeding kunt u bij Sociale Kaart een abonnement afnemen. Als u dit doet beschikt u over verschillende extra functionaliteiten.</p>
<section>
<h2>Uw eigen kaart bijhouden</h2>
<p>U zult met een abonnement uw eigen kaart kunnen beheren door middel van favorieten. Ook kunt u er dan voor kiezen om de zoekfunctie te limiteren tot uw eigen kaart.</p>
</section>
<section>
<h2>Gebruikers toevoegen</h2>
<p>Met een abonnement kunt u uw assistent en/of waarnemende huisarts toevoegen aan het systeem zodat ook zij gebruik kunnen maken van Sociale Kaart.</p>
</section>
<section>
<h2>Meerdere praktijken</h2>
<p>Bent u werkzaam in meerdere praktijken? Dan kunt u met een abonnement meerdere praktijken instellen, deze kunnen afzonderlijk worden gebruikt als centraal punt voor uw zoekopdrachten.</p>
</section>
<section>
<h2>Zoeken in het gehele land of in specifieke steden</h2>
<p>Met een abonnement kunt u buiten het gebied van uw praktijk zoeken. U zult de optie krijgen om in heel Nederland te zoeken naar zorgverleners. Ook kunt een stad of dorp opgeven als zoekterm om daar specifiek te zoeken.</p>
<p>We wensen u veel gebruiksgemak. Als u vragen of suggesties hebt horen we dit graag!</p>
</section>
<hr style="margin: 10px 0 10px 0;" />