<h1>Mijn kaart</h1>
<hr style="margin: 10px 0 10px 0;" />
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="">Verwijst u regelmatig naar dezelfde zorgverleners? U kunt dan met een abonnement ook uw eigen kaart van zorgverleners samenstellen.</div>
</div>
<div style="width:100%;overflow:hidden;padding:10px 0 10px 0;height:80px;">
    <div style=""><img style="display:block;padding:1px;border:1px solid #dbdbdb;background-color:#fff;" alt="Mijn kaart" src="/sites/all/themes/gojiratheme/img/tutorial/on_map_button.png" /></div>
</div>
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="">Als u een zorgverlener hebt gevonden kunt u vanuit de detailinformatie van de zorgverlener klikken op <i>mijn kaart</i>. De zorgverlener wordt vervolgens toegevoegd aan uw persoonlijke lijst.</div>
</div>
<hr style="margin: 10px 0 10px 0;" />
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="">Klik in het menu op <i>Mijn kaart</i> om uw persoonlijke lijst te tonen.</div>
</div>
<hr style="margin: 10px 0 10px 0;" />
<div style="width:100%;overflow:hidden; padding:0px;">
    <div style="float:left;"><img style="display:block;border:1px solid #dbdbdb;background-color:#fff;" alt="Landelijk zoeken" src="/sites/all/themes/gojiratheme/img/tutorial/search_in_favorites.png"></div>
    <div style="width:400px; float:right;">Ook kunt u binnen uw eigen kaart zoeken. Dit kunt u doen door op de knop 'Zoeken binnen uw kaart' te klikken. De zoekresultaten zullen dan gelimiteerd worden tot de gegevens van uw kaart.</div>
</div>
<hr style="margin: 10px 0 10px 0;" />