<h1>Extra mogelijkheden</h1>
<hr style="margin: 10px 0 10px 0;" />
<p>Tegen een kleine vergoeding kunt u bij SocialeKaart.care een abonnement afnemen. Als u dit doet beschikt u over verschillende extra mogelijkheden.</p>
<section>
<h2>Advertentie vrij</h2>
<p>Met een abonnement kunt u geheel advertentie vrij werken binnen SocialeKaart.care.</p>
</section>
<section>
<h2>Gebruikers toevoegen</h2>
<p>Met een abonnement kunt u uw assistent en/of waarnemende huisarts toevoegen aan het systeem zodat ook zij gebruik kunnen maken van SocialeKaart.care.</p>
</section>
<section>
<h2>Meerdere praktijken</h2>
<p>Bent u werkzaam in meerdere praktijken? Dan kunt u met een abonnement meerdere praktijken instellen, deze kunnen afzonderlijk worden gebruikt als centraal punt voor uw zoekopdrachten.</p>
</section>
<section>
<h2>Zoeken in het gehele land</h2>
<p>Met een abonnement kunt u buiten het gebied van uw praktijk zoeken. U zult de optie krijgen om in heel Nederland te zoeken naar zorgverleners.</p>
<p>Wij wensen u veel gebruiksgemak. Als u vragen of suggesties hebt horen wij dit graag!</p>
</section>
<hr style="margin: 10px 0 10px 0;" />