<h1>Praktijk</h1>
<hr style="margin: 10px 0 10px 0;" />
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="">Als u werkzaam bent bij meerdere praktijken kunt u deze invoeren. Dit heeft als voordeel dat u voor de zoekfunctie de betreffende praktijk waar u op dat moment werkt als uitgangspunt kan nemen. Ook kunt u dan per praktijk uw sociale kaart beheren. U kunt dan vanuit de menubalk een praktijk selecteren.</div>
</div>
<div style="width:100%;overflow:hidden;padding:10px 0 10px 0;height:80px;">
    <div style=""><img style="display:block;padding:1px;border:1px solid #dbdbdb;background-color:#fff;" alt="Mijn kaart" src="/sites/all/themes/gojiratheme/img/tutorial/select_practice.png" /></div>
</div>
<div style="width:100%;overflow:hidden;padding:0 0 10px 0;">
    <div style="">Zorgverleners die u toevoegd aan uw sociale kaart worden opgeslagen en weergegeven per geselecteerde praktijk.</div>
</div>
<div style="width:100%;overflow:hidden;padding:0px;">
    <div style="">Uw praktijk(en) is/zijn in te stellen op de <i>instellingen</i> pagina, deze vindt u in het menu. Om meerdere praktijken in te voeren dient u de optie <i>Meerdere praktijken</i> aanvinken, wel heeft u hier een abonnement voor nodig.</div>
</div>
<hr style="margin: 10px 0 10px 0;" />