@color-main                 : #b7072a; // red
@color-light                : #dbdbdb; // light grey
@color-dark                 : #4d4d4d; // dark grey
@color-white                : #fff;
@color-error                : #b7072a;

@font-size                  : 12px;
@font-size-heading1         : 16px;
@font-size-heading2         : 14px;
@font-size-heading3         : 12px;
@font-family                : Arial, Verdana, Sans-Serif;

@import "partials/global";
@import "partials/header";
@import "partials/gbutton";
@import "partials/map";
@import "partials/crud"; 
@import "partials/searchresults";
@import "partials/questions";
@import "partials/ownlist";
@import "partials/location";
@import "partials/autocomplete";